<!DOCTYPE html>
<html>
<head>
<title>LoyalTea</title>
<link rel=”icon” href=”favicon.ico” type=”image/x-icon”>
<link rel=”shortcut icon” href=”favicon.ico” type=”image/x-icon”>
<link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
<link type="text/css" rel="stylesheet" href="bootswatch.css"/>
<link href="font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="cover.css" rel="stylesheet">
</head>

<body>

<div class="wrapper">

    <div class="row container">
            <div class="cover-container">
                <div class="col-md-6">
                    <div class="container">
                    <h1 class="cover-heading white-text">LoyalTea</h1>
                    <p class="lead white-text">Keeping all of your loyalty <br>cards in one place.</p>
                    <div class="container">
                        <script type="text/javascript">var submitted=false;</script>
                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/';}"></iframe>
                        <form class="navbar-form pull-left" action="https://docs.google.com/forms/d/13W2LvSljUNJ1FQ7ufFwY23iAApLbr44JAv3ae3MNagI/formResponse" method="POST">
                          <div class="form-field-container"><input type="text" name="entry.1688146991" class="form-field" text= "text" placeholder="Full name"></div>
                          <div class="form-field-container"><input type="text" name="entry.203573695" class="form-field" text= "text" placeholder="Email address"></div>
                          <div class="form-field-container"><input type="text" name="entry.434378024" class="form-field" text= "text" placeholder="Business name"></div>
                          <button type="submit" name="submit" value="Submit" class="sign-up-button form-field-container">Get LoyalTea</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>

            <div class="cover-container">
                <div class="col-md-6">
                    <div class="iphone-container">
                    <img class="iphone" src="screenshot.png"/>
                    </div>
                </div>
            </div>
    </div>

</div>

</body>