<!DOCTYPE html>
<html>
<head>
<title>LoyalTea</title>
<link rel=”icon” href=”favicon.ico” type=”image/x-icon”>
<link rel=”shortcut icon” href=”favicon.ico” type=”image/x-icon”>
<link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
<link type="text/css" rel="stylesheet" href="bootswatch.css"/>
<link href="font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="cover.css" rel="stylesheet">
</head>

<body>

<div class="wrapper">

    <div class="row container">
            <div class="cover-container">
                <div class="col-md-6">
                    <div class="container">
                    <h1 class="cover-heading white-text">Download the app</h1>
                    <p class="lead white-text">Available on the app<br> store for iPhone.</p>
                    <img id="appstorelogo" src="appstore.png"/>
                    </div>
                </div>
            </div>

            <div class="cover-container">
                <div class="col-md-6">
                    <div class="iphone-container">
                    <img class="iphone" src="screenshot.png">
                    </div>
                </div>
            </div>
    </div>

</div>

</body>