<!DOCTYPE html>
<html>
<head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42735744-5', 'auto');
  ga('send', 'pageview');

</script>
<title>Grace's Running Tours - Cambridge</title>
<link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
<link type="text/css" rel="stylesheet" href="bootswatch.css"/>
<link href="font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="cover.css" rel="stylesheet">
</head>

<body>
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Grace's Running Tours - Cambridge</h1>
<br>
            <p class="lead white-text">Come along for a free running tour of Cambridge and the surrounding countryside. Donations welcome.</p>
            <div class="cover-container row">
                <div class="img-responsive photo col-md-4"><img class="img-circle" src="http://i1285.photobucket.com/albums/a584/copplestone/kings_zps19219c86.jpg?t=1404337457"></div>
                <div class="img-responsive photo col-md-4"><img class="img-circle" src="http://i1285.photobucket.com/albums/a584/copplestone/steeplechase_zpsddc561ef.jpg?t=1404422305"></div>
                <div class="img-responsive photo col-md-4"><img class="img-circle" src="http://i1285.photobucket.com/albums/a584/copplestone/newnhamc_zps42975051.jpg?t=1404336530"></div>
                
            
            </div>


            <div class="cover-container row">
            <br>
             <p class="lead white-text"><strong>Running schedule</strong></p>
             <p class="lead white-text">9am on Sundays - 6 miles / 10 km approx. 60 minutes - Jog/run off road through the Cambridgeshire countryside, returning via Granchester Meadows.</p>
             <p class="lead white-text">11am on Sundays - 3 miles / 5 km approx. 40 minutes - Slow jogging tour of Cambridge colleges and departments.</p>
             <p class="lead white-text">
              Contact me at <strong>gracesrunningtours@gmail.com</strong> for further details. Other times available on request.
            </p>
            
          </div>
      </div>
          
        </div>

      </div>

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" title="" data-original-title="Copy to clipboard">      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">         <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1404420174395">         <param name="allowScriptAccess" value="sameDomain">         <param name="scale" value="exactfit">         <param name="loop" value="false">         <param name="menu" value="false">         <param name="quality" value="best">         <param name="bgcolor" value="#ffffff">         <param name="wmode" value="transparent">         <param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">         <embed src="/assets/flash/ZeroClipboard.swf?noCache=1404420174395" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com" scale="exactfit">                </object></div>

</body>
</html>