<!DOCTYPE html>
<html>
<head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42735744-5', 'auto');
  ga('send', 'pageview');

</script>
<title>LoyalTea</title>
<link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
<link type="text/css" rel="stylesheet" href="bootswatch.css"/>
<link href="font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="cover.css" rel="stylesheet">
</head>

<body>
<div class="site-wrapper">
    
  <div class="site-wrapper-inner">

    <div class="jumbotron">
        <div class="cover-container">
          <!--<a href="#section-2">Link</a>-->
          
          <br>
              <div class="row">
                <div class="col-md-6">
                  <p class="lead white-text">Fill in your details to get a LoyalTea pad in your business.</p>
                  <form class="navbar-form pull-left">
                      <div class="form-field-container"><input class="form-field" text="text" placeholder="Full name"></div>
                      <div class="form-field-container"><input class="form-field" text="text" placeholder="Email address"></div>
                      <div class="form-field-container"><input class="form-field" text="text" placeholder="Business name"></div>
                      <button class="sign-up-button">Get LoyalTea</button>
                  </form>
                </div>
                <div class="iphone-photo signup-iphone col-md-6">
                  <img class="iphone" src="http://i1285.photobucket.com/albums/a584/copplestone/LoyalTea_screenshot_zps4f98b4e4.png"/></img>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>

    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" title="" data-original-title="Copy to clipboard">      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">         <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1404420174395">         <param name="allowScriptAccess" value="sameDomain">         <param name="scale" value="exactfit">         <param name="loop" value="false">         <param name="menu" value="false">         <param name="quality" value="best">         <param name="bgcolor" value="#ffffff">         <param name="wmode" value="transparent">         <param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">         <embed src="/assets/flash/ZeroClipboard.swf?noCache=1404420174395" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com" scale="exactfit">                </object></div>

</body>
</html>